body {
    font-family: Arial, sans-serif;
    background: #f2f6fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #003366;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
}

/* Horario */
.tabla-horario {
    width: 100%;
    border-collapse: collapse;
}

.tabla-horario th,
.tabla-horario td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.tabla-horario th {
    background: #004080;
    color: white;
}









/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal */
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

/* Título de bienvenida */
#tituloBienvenida {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
    background-color:goldenrod;
}

/* Tarjetas */
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}

/* Perfil del estudiante */
.card p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

.card p strong {
    color: #2c3e50;
}

/* Lista de materias */
#listaMaterias li {
    padding: 8px 12px;
    margin-bottom: 6px;
    background-color: #ecf0f1;
    border-radius: 6px;
    list-style: none;
}

/* Tabla de horario */
.tabla-horario {
    width: 100%;
    border-collapse: collapse;
}

.tabla-horario th, .tabla-horario td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.tabla-horario th {
    background-color: goldenrod;
    color: black;
}

.tabla-horario tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Botones */
button {
    padding: 11px 1px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 22px;
    transition: 0.3s;
}



#btnCerrarSesion {
    background-color: goldenrod;
    color: #fff;
    float: right;
}

#btnCerrarSesion:hover {
    background-color: black;
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    color: #888;
}
